@-moz-document domain("github.com") {
code {
  font-size: 85%;
  color: #b92623;
  background-color: #FCF3F2;
  border: solid 1px #9b8f8f;
  border-radius: 3px;
}
pre {
  border: solid 1px #9b8f8f;
  border-radius: 3px;
}
}

@-moz-document domain("bitbucket.org") {
.code,
code {
  font-size: 85%;
  color: #b92623;
  background-color: #FCF3F2;
  border: solid 1px #9b8f8f;
  border-radius: 3px;
}
}

@-moz-document domain("docs.python.org") {
code {
  font-size: 85%;
  color: #b92623;
  background-color: #FCF3F2;
  border: solid 1px #9b8f8f;
  border-radius: 3px;
}
a > code {
  text-decoration: underline;
}
}

@-moz-document regexp(".*\\.gitbooks\\.io/.*") {
.markdown-section h1 code,
.markdown-section h2 code,
.markdown-section h3 code,
.markdown-section h4 code,
.markdown-section h5 code,
.markdown-section h6 code,
.markdown-section li code,
.markdown-section td code,
.markdown-section p code {
  font-size: 85%;
  color: #b92623;
  background-color: #FCF3F2;
  border: solid 1px #9b8f8f;
  border-radius: 3px;
}
.markdown-section pre {
  border: solid 1px #9b8f8f;
  border-radius: 3px;
}
}
